.general {
background-color: burlywood;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: medium;
}
.rayado {
    background-color: lightgreen;

}

.rayado2 {
    background-color: hotpink;

}