.general {
    
    background-color: lightgrey;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    

    }

    td img {vertical-align: bottom;}